.cardcontainer {
    border-radius: 40px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.40);
    margin: 10px;
    padding: 60px;
}

.Banner{
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-size: 55px;
}

.test{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.textbox{
    background-color: white;
}

.logoweb{
    margin-top: 20px;
    margin-left: 10px;
}