.rootContainer {
  background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
}

.borderBox {
  border: 0.1em solid #FF7093;
  background: #FFE9EE;
  max-width: 80%;
  margin: 30 auto;
  padding: 1em;
}

.passwordInput,
.emailInput {
  border: 0.1em solid #FBC;
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
}

.email {
  text-align: center;
}