.rootContainer {
  background: linear-gradient(89deg, #FFA3BA 3.5%, #D8CFFF 99.37%);
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logo img {
  height: 40px;
  width: auto;
}

.services {
  display: flex;
  gap: 20px;
}

.service {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 320px) {

  .navbar {
    flex-direction: column;
    align-items: start;
    padding: 10px;
  }
  
  .logo img {
    height: 60%;
    width: 70%;
    margin-bottom: 10px;
  }

  .services {
    margin-top: 10px;
  }

  .service {
    display: block;
    font-size: 10px;
    padding: 10px;
    background-color: #F14950;
    border-radius: 10px;
    text-decoration: #F14950;
    font-family: Montserrat;
  }
}

@media screen and (max-width: 375px) {

  .navbar {
    flex-direction: column;
    align-items: start;
    padding: 10px;
  }
  
  .logo img {
    height: 60%;
    width: 70%;
    margin-bottom: 10px;
  }

  .services {
    margin-top: 10px;
  }

  .service {
    display: block;
    font-size: 10px;
    padding: 10px;
    background-color: #F14950;
    border-radius: 10px;
    text-decoration: #F14950;
    font-family: Montserrat;
  }
}


@media screen and (min-width: 425px) {

  .navbar {
    flex-direction: row;
    align-items: start;
    padding: 10px;
  }
  
  .logo img {
    height: 70%;
    width: 70%;
    margin-bottom: 10px;
  }

  .services {
    margin-top: 10px;
  }

  .service {
    display: block;
    font-size: 10px;
    padding: 10px;
    background-color: #F14950;
    border-radius: 10px;
    text-decoration: #F14950;
    font-family: Montserrat;
  }
}